*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Popins';
}

html{
    overflow: hidden;
}

body{
    background: #03a9f4;
}
.foot p{
    position: relative;
    top: 870px;
    font-size: 12px;
    text-align: center;
    color: white;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    position: relative;
    align-items: center;
    text-align: center;
}

.content h2{
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 8em;
}

.content h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}
.content h2:nth-child(2){
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate{
    0%,100%
    {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
        50%
        {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
        }
    
}


.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9){
    .background-clip{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9){
    .background-clip{
        width: 100%;
        height: auto;
    }
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background:linear-gradient(90deg,transparent,rgba(255, 255, 255, .4),transparent);
    transition: .5s;
}

.header:hover::before{
    left: 100%;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    position: absolute;
    margin-top: 8px;
    margin-left: 10px;
    width: 75px;
}

.navbar a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover{
    color: #03a9f4;
}
